body{
    background: rgb(191, 191, 191, 0.23);


}
header{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* FORM PRINCIPAL */
.toDoBox{
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    border: 4px solid white;
    width: 21.8rem;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.13);
}

/* INPUT PRINCIPAL */
#uniqueToDo{
    padding: 8px 15px 8px 33px;
    border: none;
    width: 18.8rem;
    font-size: 1rem;
}

::-moz-placeholder{
    color: rgba(74, 73, 73, 0.75);
    opacity: 0.1;
    font-style: italic;
}


#title{
   color: rgba(84, 47, 175, 0.15);
    font-size:3.6rem;
    font-weight: 900;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 1.5rem;
}

.icon-angle-down{
    color: rgba(77, 77, 77, 0.19);
    background: white;
}

